html,
body {
    --black: #151515;
    --gray: #e8e8e8;
    --white: #ffffff;
    --blue: #0066ff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    height: 100%;
}

a:hover {
    text-decoration: underline;
}

/* ---------------------------------- */

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header {
    color: var(--white);
    background-color: var(--black);
}

.header-main {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background-color: transparent;
}

.header__iner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 40px;
    padding-bottom: 45px;
}

.menu__list {
    display: flex;
    gap: 35px;
}

.menu__list-link {
    color: var(--white);
    font-weight: 700;
}

.menu__list-link--active {
    color: var(--blue);
}

/* ---------------------------------- */

.main {
    flex-grow: 1;
}

.top {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    color: var(--white);
    text-align: center;
}

.title {
    padding-top: 250px;
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link {
    background-color: var(--black);
    padding: 23px 112.5px;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.swiper::after {
    content: "";
    background: rgba(21, 21, 21, 0.3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    background-color: var(--black);
    border-radius: 0%;
    opacity: 1;
    margin: 0 15px !important;
}

.swiper-pagination-bullet-active {
    height: 6px;
    background-color: var(--white);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 90px;
}

/* ---------------------------------- */

.section-title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.why-lease {
    padding: 150px 0;
}

.why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__item-img {
    margin-bottom: 30px;
}

.why-lease__item-title {
    font-size: 24px;
    font-weight: 700;
}

.why-lease__item-text {
    margin-top: 30px;
    text-align: left;
}

/* ---------------------------------- */

.how-does {
    padding-bottom: 150px;
}

.how-does__inner {
    max-width: 600px;
    margin: 0 auto;
}

.how-does__title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
}

.how-does__list {
    padding: 50px 0 70px;
    counter-reset: myCounter;
}

.how-does__item {
    position: relative;
    list-style: none;
    width: 270px;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0px 19px 240px;
    min-height: 63px;
}

.how-does__item + .how-does__item {
    margin-top: 40px;
}

.how-does__item::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    background-color: var(--blue);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    top: 0;
}

/* ---------------------------------- */

.video {
    padding-bottom: 150px;
}

.video__title {
    margin-bottom: 20px;
}

.video__text {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.video__content {
    display: block;
    margin: 0 auto;
}

/* ---------------------------------- */

.importan {
    padding-bottom: 150px;
}

.importan__title {
    margin-bottom: 20px;
}

.importan__text {
    max-width: 580px;
    margin: 0 auto 50px;
}

.importan__item {
    max-width: 270px;
}

.importan__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.importan__item-img {
    margin-bottom: 20px;
}

/* ---------------------------------- */

.footer {
    background-color: var(--black);
    padding: 50px 0px 32px 0px;
    color: var(--white);
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list {
    max-width: 250px;
}

.fooetr__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 20px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.footer__copy {
    font-size: 12px;
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap:  40px;
}

/* ---------------------------------- */

.blog {
    padding-bottom: 150px;   
}

.blog__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 70px;
}

.blog__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item-img {
    margin-bottom: 30px;
    width: 100%;
}

.blog__item-title {
    flex-basis: 446px;
    font-size: 23px;
    font-weight: 700;
}

.blog__item-link {
    color: var(--white) !important;
    padding: 4px 20px;
    background-color: var(--blue);
}

.blog__item-link:hover {
    transform: scale(1.1);
    transition: 1s;
}

.show__link {
    background-color: var(--black);
    padding: 13px;
    width: 225px;
    margin: 0 auto;
    text-align: center;
    color: var(--white) !important;
    display: block; 
}

.show__link:hover {
    transform: scale(1.2);
    transition: 1s;
}

/* ---------------------------------- */

.contacts {
    padding: 100px 0 150px;
}

.contacts-title {
    margin-bottom: 20px;
}

.contacts__text {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 50px;
    padding: 0 100px;
}

.form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input {
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid var(--blue);
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: black;
}

.form__input::placeholder,
.form__textarea::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: black;
    opacity: 0.5;
}

.form__textarea {
    width: 100%;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: black;
    border: 1px solid var(--blue);
    margin-bottom: 50px;
}

.form__btn {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--black);
    padding: 12px 61px;
    margin: 0 auto;
}

.form__btn:hover {
    transform: scale(1.2);
    transition: 1s;
}

/* ---------------------------------- */

.choose {
    padding: 100px 0 150px;
}

.tabs__content-item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.tabs__content-item.tabs__btn-item--active {
    display: grid;
}

.card {
    text-align: center;
}

.card__img {
    width: 100%;
}

.card__content {
    padding: 0 5px;
    border: 1px solid var(--blue);
    border-top: 0;
}

.card__title {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__text {
    margin-bottom: 20px;
}

.card__link {
    display: block;
    color: var(--blue) !important;
    border: 1px solid var(--blue);
    border-top: 0;
}

.card__link:hover {
    color: white !important;
    background-color: #0066ff;
    transition: 1s;
}

.show__link {
    margin-top: 70px;
}

/* ---------------------------------- */

.menu__btn {
    width: 50px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.menu__btn span {
    height: 4px;
    background-color: white;
    width: 100%;
}

/* ---------------------------------- */

@media (max-width: 1180px) {
    .importan__item{
        max-width: 1000px;
    }

    .importan__list {
        gap: 30px 20px;
    }

    .importan__item-img {
        width: 100%;
    }

    .tabs__content-item {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1040px) {
    .video__content {
        width: 100%;
    }

    .title {
        font-size: 70px;
    }

    .top__link {
        padding: 16px 75px;
        font-size: 28px;
    }
}

@media (max-width: 860px) {
    .menu__btn {
        display: flex;
    }

    .menu__btn,
    .logo {
        position: relative;
        z-index: 10;
    }

    .menu__list {
        position: absolute;
        z-index: 5;
        background-color: var(--black);
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 200px;
        height: 100vh;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .5s ease;
        font-size: 28px;
    }

    .menu__list.menu__list--active {
        transform: translateY(0);
    }

    .why-lease__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .importan__list {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .swiper-pagination-bullet {
        width: 60px;
    }

    .tabs__content-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog__items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 770px) {
    .video__content {
        height: 350px;
    }

    .footer__menu {
        padding-left: 15%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .title {
        font-size: 60px;
    }

    .contacts__text {
        font-size: 20px;
        padding: 0;
    }

    .form__input {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .title {
        font-size: 50px;
    }

    .top__link {
        padding: 14px 60px;
        font-size: 22px;
    }

    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 10px;
    }

    .swiper-pagination-bullet {
        width: 40px;
    }

    .footer__menu {
        padding-left: 10%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .why-lease__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .importan__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-title {
        font-size: 32px;
    }

    .video__content {
        height: 220px;
    }

    .video {
        padding-bottom: 50px;
    }

    .how-does__list {
        padding: 30px 0 40px;
    }

    .how-does {
        padding-bottom: 50px;
    }

    .how-does__item {
        padding: 65px 0 19px 0;
        margin-right: auto;
    }

    .how-does__item::before {
        right: 0;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        font-size: 32px;
    }

    .copy__nav-list {
        flex-direction: column;
        align-items: center;
    }

    .tabs__content-item {
        grid-template-columns: repeat(1, 1fr);
    }
}